* {
    box-sizing: border-box;
    margin: 0;
    font-family: anton, sans-serif;
   
}
html, body{
    height:100%;
   
}
.root{
    display: flex;
    height:100%;
    flex-direction: column;
}

.App{
    flex: 1 0 auto;
    padding: 0 2em 0 2em;
    
    justify-content: center;
    flex-direction: column;
    flex-grow:1;
    overflow: auto;   
    height:60%
}

.footer-container{
    height:10%;
    width: 100%;
    display: flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items:center;
    background-color: #222;
    color: whitesmoke;
}
.footer-container a{
    margin:auto 1em;
}
.facebook-logo{
    height:40;
    width:40;
}
.facebook-logo :hover{
    cursor: pointer;
}
.facebook-fill{
    fill: white;
}
