* {
    box-sizing: border-box;
    margin: 0;
}
html, body{
    height:100%;
   
}
.root{
    display: flex;
    height:100%;
    flex-direction: column;
}

.App{
    flex: 1 0 auto;
    padding: 0 2em 0 2em;
    background-color: maroon;
    justify-content: center;
    flex-direction: column;
    flex-grow:1;
    overflow: auto;
    
    height:70%
}

.product-list{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: antiquewhite;
    max-width:60em;
    margin:auto;
}

.product-container{    
    flex-flow: column wrap;
    text-align: center;
    border: 2px solid #999;
    border-radius: 5px;
    background-color: aliceblue;
    margin :1em;
    padding: 1em;   
}
.product-image{
    height: 10em;
    width: 10em;
    margin:auto;
}

.footer-container{
    height:10%;
    width: 100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items:center;
    background-color: #222;
    color: whitesmoke;
}