.NavBar-container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: #222; 
    
}
.NavBarlogo{
    margin: 0 auto;
}
.NavBarlogo img{
    max-width:13em;
}

.NavLinks{
   color: whitesmoke;
   margin: 0.5em auto;
}
.NavLinks a{
    padding: 1em;
    cursor: pointer;
}

.NavLinks a:active , .nav-active{
    background-color: #555;
    
}



