.NavBar-container{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #222;
    height:30%  
}
.NavBarlogo{
    margin:auto;
}
.NavBarlogo img{
    display:block;
    width:100%;
    max-width:250px;
    height:auto;
    width:auto;
}

.NavLinks{
   color: whitesmoke;
   margin:auto;
}
.NavLinks a{
    padding: 1em;
    cursor: pointer;
}

.NavLinks a:active , .nav-active{
    background-color: #555;
    
}



